In [1]:
!pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading tweet_preprocessor-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [103]:
import random

index = [i for i in range(df.shape[0])]
random.shuffle(index)
df=df.set_index([index]).sort_index()

In [104]:
df.head()

,Datetime,Text
0,2021-05-15 14:19:05+00:00,Israel is considering journalism as a terroris...
1,2021-05-29 01:53:52+00:00,I'd like to suck your dick.....after i eat you...
2,2021-05-12 10:07:22+00:00,The terrorist state of Israel is killing innoc...
3,2021-05-31 15:20:04+00:00,Wait what the fuck youre alive
4,2021-04-25 13:43:38+00:00,Yeah but in this case why should a murdered ma...

In [1]:
import preprocessor as p
import numpy as np # linear algebra
import pandas as pd

In [105]:
import sklearn
df=sklearn.utils.shuffle(df)
print(df)

                         Datetime  \
564895  2021-05-18 10:57:01+00:00
269893  2021-04-24 10:31:49+00:00
348797  2021-05-17 14:31:13+00:00
274870  2021-05-15 18:04:25+00:00
168813  2021-04-18 05:13:07+00:00
...                           ...
161389  2021-05-15 11:02:57+00:00
377850  2021-04-28 20:37:17+00:00
35702   2021-05-17 04:26:54+00:00
353051  2021-05-12 20:38:06+00:00
527921  2021-05-28 06:08:04+00:00

                                                     Text
564895                             Pel daalo gaddaron ko.
269893  I dont care niggas that punch walls cant handl...
348797                      Somewhere in Belfast, Ireland
274870  Do you live in India? That's not true. Most ur...
168813  Fuxkin facts but we been known that i cant sta...
...                                                   ...
161389                           Help your country first!
377850  "my feminism was always about expanding" Yes! ...
35702   Some of you have flags for jordan instead of p...
353051  Eid Mubarak To All .May Allah bless you .Don't...
527921  So much dick walking around. What a cock fest ...

[596697 rows x 2 columns]

In [83]:
df = pd.read_csv('/Users/Asus/Desktop/THESIS/blm_tweet_USA.csv')
##df=df.tail(n=250)
df1=pd.read_csv('/Users/Asus/Desktop/THESIS/feminism_tweets.csv')
#df1=df1.tail(n=450)
df2=pd.read_csv('/Users/Asus/Desktop/THESIS/LGBT_BD.csv')
#df2=df2.tail(n=250)
df3=pd.read_csv('/Users/Asus/Desktop/THESIS/nigga_tweets.csv')
#df3=df3.tail(n=450)
df4=pd.read_csv('/Users/Asus/Desktop/THESIS/trump_USA.csv')
#df4=df4.tail(n=250)
df5=pd.read_csv('/Users/Asus/Desktop/THESIS/Slangs.csv')
df6=pd.read_csv('/Users/Asus/Desktop/THESIS/Slangs2.csv')
df7=pd.read_csv('/Users/Asus/Desktop/THESIS/fairnlovely_tweets.csv')
df8=pd.read_csv('/Users/Asus/Desktop/THESIS/mysogyny_tweets.csv')
df9=pd.read_csv('/Users/Asus/Desktop/THESIS/Palestine_Israel.csv')
df10=pd.read_csv('/Users/Asus/Desktop/THESIS/Palestine_Israel2.csv')
df11=pd.read_csv('/Users/Asus/Desktop/THESIS/mysogynist_tweets.csv')
#df5=df5.tail(n=250)

E:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [85]:
df= pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11],ignore_index=True)

In [86]:
df.count()

Unnamed: 0    739202
Datetime      739196
Text          739196
dtype: int64

In [96]:
df =df.dropna()
df = df.drop_duplicates()

In [97]:
df.count()

Datetime    596697
Text        596697
dtype: int64

In [61]:
df

,Datetime,Text
0,2021-05-18 23:35:06+00:00,Conferred some doctoral degrees this morning w...
1,2021-05-18 23:19:27+00:00,Day One Hundred Sixty One - A little birdie.. ...
2,2021-05-18 23:10:16+00:00,- The May th Alliance stays over night in fron...
3,2021-05-18 22:56:51+00:00,I knew all those black squares on Instagram we...
4,2021-05-18 22:49:00+00:00,- The May th Alliance stays over night outside...
...,...,...
11223,2020-06-16 02:16:24+00:00,We also need to own that we like problematic s...
11224,2020-06-16 01:50:39+00:00,Man society is so fucking weak these days that...
11225,2020-06-16 00:36:32+00:00,"trust me when i say, it is hard to adress the ..."
11226,2020-06-16 00:35:38+00:00,
11227,2020-06-16 00:22:08+00:00,"Nope, mysogynist"

In [56]:
df.reset_index()

,index,Datetime,Text
0,0,2021-05-18 23:35:06+00:00,Conferred some doctoral degrees this morning w...
1,1,2021-05-18 23:19:27+00:00,Day One Hundred Sixty One - A little birdie.. ...
2,2,2021-05-18 23:10:16+00:00,- The May th Alliance stays over night in fron...
3,3,2021-05-18 22:56:51+00:00,I knew all those black squares on Instagram we...
4,4,2021-05-18 22:49:00+00:00,- The May th Alliance stays over night outside...
...,...,...,...
757616,11223,2020-06-16 02:16:24+00:00,We also need to own that we like problematic s...
757617,11224,2020-06-16 01:50:39+00:00,Man society is so fucking weak these days that...
757618,11225,2020-06-16 00:36:32+00:00,"trust me when i say, it is hard to adress the ..."
757619,11226,2020-06-16 00:35:38+00:00,
757620,11227,2020-06-16 00:22:08+00:00,"Nope, mysogynist"

In [23]:
df.to_csv('top10k_tweets.csv')

In [106]:
df.to_csv('all_tweets59m.csv')

In [22]:
df=df.head(n=10000)

In [8]:
def preprocess_tweet(row):
    text = row['Text']
    text = p.clean(text)
    return text

In [89]:
df['Text'] = df.apply(preprocess_tweet, axis=1)

In [10]:
df.head()

,Unnamed: 0,Datetime,Text
0,0,2021-05-18 23:35:06+00:00,Conferred some doctoral degrees this morning w...
1,1,2021-05-18 23:19:27+00:00,Day One Hundred Sixty One - A little birdie.. ...
2,2,2021-05-18 23:10:16+00:00,- The May th Alliance stays over night in fron...
3,3,2021-05-18 22:56:51+00:00,I knew all those black squares on Instagram we...
4,4,2021-05-18 22:49:00+00:00,- The May th Alliance stays over night outside...

In [44]:
!pip install gensim

Requirement already satisfied: gensim in e:\anaconda\lib\site-packages (4.0.1)
Requirement already satisfied: scipy>=0.18.1 in e:\anaconda\lib\site-packages (from gensim) (1.5.2)
Requirement already satisfied: Cython==0.29.21 in e:\anaconda\lib\site-packages (from gensim) (0.29.21)
Requirement already satisfied: smart-open>=1.8.1 in e:\anaconda\lib\site-packages (from gensim) (5.1.0)
Requirement already satisfied: numpy>=1.11.3 in e:\anaconda\lib\site-packages (from gensim) (1.19.2)

In [108]:
from gensim.parsing.preprocessing import remove_stopwords

In [155]:
def stopword_removal(row):
    text = row['Text']
    text = remove_stopwords(text)
    return text

In [156]:
train_df['Text'] = train_df.apply(stopword_removal, axis=1)

In [62]:
df['Text'] = df['Text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

In [484]:
df.head()

,Unnamed: 0,Datetime,Text
0,0,2021-05-18 23:35:06+00:00,conferred some doctoral degrees this morning w...
1,1,2021-05-18 23:19:27+00:00,day one hundred sixty one a little birdie frid...
2,2,2021-05-18 23:10:16+00:00,the may th alliance stays over night in front...
3,3,2021-05-18 22:56:51+00:00,i knew all those black squares on instagram we...
4,4,2021-05-18 22:49:00+00:00,the may th alliance stays over night outside ...

In [90]:
df['Text'] = df['Text'].dropna()

In [500]:
df.head()

,Unnamed: 0,Datetime,Text
167,17,2021-05-18 18:53:29+00:00,against all white for against for worse will ...
294,14,2021-05-31 23:16:21+00:00,mundinho lgbt bh a maior organizao criminosa d...
286,27,2021-05-18 23:38:35+00:00,he also thinks his inability to form a relatio...
64,17,2021-05-18 23:47:42+00:00,why not it seems you clearly dont know what fe...
256,36,2021-05-18 23:44:16+00:00,my nigga iced his teeth out i had to put it on...

In [98]:
df.count()

Datetime    596697
Text        596697
dtype: int64

In [298]:
#df=df.dropna(axis=0,inplace=True)

<ipython-input-298-e8e73ba79478>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df=df.dropna(axis=0,inplace=True)

In [64]:
df['Text'].isnull().sum()

0

In [396]:
df.to_csv('Primary_annotation7.csv')

In [382]:
df=pd.read_csv('/Users/Asus/Desktop/THESIS/Primary_annotation.csv')

In [65]:
df=df[['Datetime','Text']]

In [455]:
df=df.head( n=200)

In [8]:
df.to_csv('Primary_annotation11.csv')

In [458]:
df5['Text'] = df5.apply(preprocess_tweet, axis=1)

In [459]:
df5['Text'] = df5['Text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

In [40]:
df5.isnull().sum()

Unnamed: 0    0
Datetime      0
Text          0
dtype: int64

In [92]:
#df['Text'] = df['Text'].dropna()
df['Text'] = df['Text'].drop_duplicates(keep='first', inplace=False)

In [20]:
df=df.dropna()

In [67]:
df.loc[~df.index.duplicated(), :]

In [467]:
df5=df5.head( n=100)

In [468]:
df=df.append(df5)

In [93]:
df['Text'] = df['Text'].drop_duplicates()

In [94]:
df.count()

Unnamed: 0    739196
Datetime      739196
Text          596697
dtype: int64

In [82]:
df[df.index.duplicated()]

,Datetime,Text
0,2021-05-18 23:59:52+00:00,Feminism isnt about making women strong. Women...
1,2021-05-18 23:59:49+00:00,I did not miss Senator Slama taking up the man...
2,2021-05-18 23:59:37+00:00,wakey wakey beardy and feminism
3,2021-05-18 23:57:27+00:00,Philosopher is a great writer and a clear thin...
4,2021-05-18 23:56:21+00:00,Tell me more about and Tell me more about move...
...,...,...
11223,2020-06-16 02:16:24+00:00,We also need to own that we like problematic s...
11224,2020-06-16 01:50:39+00:00,Man society is so fucking weak these days that...
11225,2020-06-16 00:36:32+00:00,"trust me when i say, it is hard to adress the ..."
11226,2020-06-16 00:35:38+00:00,
11227,2020-06-16 00:22:08+00:00,"Nope, mysogynist"

In [95]:
df=df[['Datetime','Text']]